@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@700&display=swap');

.fecha{
    font-family: 'Scheherazade New', serif;
    font-size: 2rem;
    color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(61, 22, 236);
}

.hora{
    font-family: 'Scheherazade New', serif;
    font-size: 4rem;
    color: white;
    height: 100px;
    width: 500px;
    letter-spacing: 3px;
    border-radius: 5px;
    background-color: rgb(117, 98, 202);
}

